* {
    font-size: 28px;
    border-radius: 10px;
    font-family: sans-serif;
}

html, body {
    background-color: #4d4a4c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #6a6567;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    padding: 20px;
    gap: 5px;
}

.display {
    background-color: #f3efe1;
    border: 1px solid #4d4a4c;
    flex: 0 0 110px;
    color: #4d4a4c;
    font-size: 3em;
    padding: 0px 15px;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
}

.display * {
    margin: 0;
}

.numpad {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 5px;
}

button {
    border: 1px solid #4d4a4c;
    color: #f3efe1;
    width: calc((100% - 15px) / 4); /* 1/4th of the available space - 3 gaps */
}

.doubleBtn { 
    width: calc(((100% - 15px) / 4) * 2 + 5px); /* 2 times the normal button + 1 gap */
}

.number, .decimal, button:disabled:hover {
    background-color: #a9aebe;
}

.operator {
    background-color: #9DB0AC;
}

.action {
    background-color: #CB8E8B;
}

.number:hover, .decimal:hover {
    background-color: #9fa6c2;
}

.operator:hover {
    background-color: #97b4ae;
}

.action:hover {
    background-color: #d78c88;
}

.clicked {
    background-color: #D49668;
}

.clicked:hover {
    /* background-color: #e5a574; */
    background-color: #D49668;
}