* {
	font-family: "Roboto", monospace;
	font-weight: bolder;
	margin: 0;
	border: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
    background-color:#affcd877;
    background-image:
    radial-gradient(at 12% 40%, hsla(280,27%,100%,1) 0px, transparent 50%),
    radial-gradient(at 7% 92%, hsla(196,27%,100%,1) 0px, transparent 50%),
    radial-gradient(at 50% 44%, hsla(190,27%,100%,1) 0px, transparent 50%),
    radial-gradient(at 97% 0%, hsla(351,27%,100%,1) 0px, transparent 50%),
    radial-gradient(at 34% 55%, hsla(79,27%,100%,1) 0px, transparent 50%),
    radial-gradient(at 13% 1%, hsla(274,27%,100%,1) 0px, transparent 50%),
    radial-gradient(at 10% 20%, hsla(276,27%,100%,1) 0px, transparent 50%);
}

#calculator {
	background-color: rgb(48, 52, 65);
	height: 40em;
	min-width: 30em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 1em;
    gap: 1em
}

#display {
	background-color: aliceblue;
    box-sizing: border-box;
	height: 120px;
	border-radius: 5px;
    padding: 0.5em;
    font-weight: 100;
}

#keypad, #functions{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}

#functions{
    grid-template-columns: repeat(2, 1fr);
}

.threeColumn{
    grid-column: 3 span;
}

.twoColumn{
    grid-column: 2 span;
}

#entry{
    font-size: 2em;
}

#result{
    font-size: 4em;
    text-align: right;
}

.function {
	background-color: rgb(251, 100, 145);
}
.function:hover {
	background-color: rgb(255, 130, 167);
}

.op{
    background-color: rgb(130, 100, 251);
}
.op:hover, .op:disabled{
    background-color: rgb(149, 124, 252);
}

.num, #dot{
	background-color: rgb(251, 163, 100);
}
.num:hover, #dot:hover, #dot:disabled{ 
	background-color: rgb(255, 189, 141);
}

button {
	font-size: 2rem;
	color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0); 
	border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

button:active{
	border: 1px solid rgb(31, 28, 28);
}
